<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="login validations">
  <test thread-count="5" name="first login">
    <classes>
      <class name="com.Main.LoginApplicationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
